---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";
.site-header { border-top: 5px solid #424242; border-bottom: 1px solid #e8e8e8; min-height: 55.95px; position: relative; background-color: rgb(37,46,57);}
.site-title, .site-title:visited { color: white; }
.site-nav .page-link { color: white; line-height: 1.5; }

.site-footer { border-top: 1px solid #e8e8e8; padding: 30px 0; background-color: rgb(234, 239, 249);}
